{
  "presets": [["env", {
      "targets": {
        "node": 8,
      },
      "loose": true,
      "useBuiltIns": true,
      "modules": "commonjs"
      }],
      "flow"
    ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
  ]
}
