hostName: tigrudor.de
hostName2: tiger.pics.marudor.de

env:
  - name: ORIGIN
    value: tigrudor
  - name: ENABLE_TWITTER
    value: 'true'
  - name: ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: tiger-config
        key: access_key
  - name: ACCESS_KEY_SECRET
    valueFrom:
      secretKeyRef:
        name: tiger-config
        key: access_key_secret
  - name: API_TOKEN
    valueFrom:
      secretKeyRef:
        name: tiger-config
        key: api_token
  - name: POST_URI
    valueFrom:
      secretKeyRef:
        name: tiger-config
        key: post_uri

nodeImagePath: /nfsStorage/tiger
