name: manual deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'where to deploy to? (cats, fox, panda, pingu, tiger)'
        required: true

jobs:
  createDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Create Deployment'
        uses: avakar/create-deployment@v1.0.1
        with:
          ref: ${{ github.sha }}
          task: deploy
          environment: production
          required_contexts: docker,node
          payload: '{"value_files": ["./config/${{ github.event.inputs.environment }}.yml","./config/_common.yml"],"release": "${{ github.event.inputs.environment }}","namespace": "pictures","track": "stable"}'
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
